/* Show submenu when hovering over the parent item */
.dropdown-item:hover .submenu {
    display: block;
    left: 101%; /* Ensures submenu opens to the right */
}
  
.submenu li {
    padding: 0.5rem;
}
  
.submenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
  
.submenu a:hover {
    background: rgba(255, 255, 255, 0.2);
}
