/* Container to center the content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  margin-top: 15px;
}
  
.home {
  color: blue;
  cursor: pointer;
}

.current {
  color: gray;
}

/* Certificate Verification Box */
.verification-box {
  width: 100%;
  max-width: 750px;
  padding: 20px;
  background-color: #e6e6e6;
  border: 2px solid rgb(197, 152, 70);
  border-radius: 8px;
  text-align: center;
}

/* Title */
.title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

/* Input Box */
.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(167, 127, 53);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkorange;
}
