.fran-cert-container {
    padding: 20px;
  }
  
  .certificate-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .fran-head-print {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* optional spacing between text and button */
  }
  


  .print-btn {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .print-btn:hover {
    background-color: #0056b3;
  }
  