/* Default background (other pages) */
body {
  background-color: white; /* Or any default color */
}

/* Background color ONLY for /profile/login */
.login-background {
  height: 100vh;
  background-color: #2f475a; /* Dark blue-grey */
}
